body {
    margin: 0;
    display: flex; /* flexbox - za fleksibilnejše gumbe itd. */
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment*/
    height: 100vh; /* viewport height v procentih - višina vidnega dela spletne strani */

    background-color: rgb(201, 117, 7);

    border-radius: 20px;
    box-sizing: border-box;

  
}

#calculator { /* to je za celoten kalkulator, vse skupaj*/

    font-family: Helvetica, sans-serif;
    background-color: black;
    border: 5vh solid;
    border-radius: 2vh;
    border-color: rgba(255, 255, 255, 0.8);


    max-width: 500px; /* to zoža kalkulator da so gumbi skupaj */
    max-height: 80vh;
    overflow: hidden;

    aspect-ratio: 3/5;
    width: auto;
}

#display {
    box-sizing: border-box; /* da je rob vključen v širino, sicer na desni izgine */
    width: 100%;
    padding: 2vh;
    font-size: 5rem;
    text-align: left;


    border: 2vh solid;
    border-color: rgb(128, 128, 128);
    background-color: rgba(0, 236, 255, 0.8);
    color: white;

}

#keys { /* Za postavitev kalkulatorja */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1vh;
    padding: 2vh;

    height: 65%;
}

button {
    width: 100%;
    height: 100%;

    border-radius: 25px;
    border: none;

    background-color: #0240a3;

    font-size: clamp(1.5rem, 5vh, 3rem);
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
/* pseudoclasses se uporabljajo za stiliziranje elementov glede na stanje */
button:hover{ /* ko gremo čez element */
    background-color: #2667cf;
}

button:active { /* ko kliknemo element*/
    background-color: #448bff;
}